:root {
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --second-font: Raleway, sans-serif;
  /* Color */
  --main-tx-cl: #434455;
  --background-cl: #ffffff;
  --web-logo-light: #f4f4fd;
  --link-cl: #2e2f42;
  --address-cl: #434455;
  --activ-cl: #404bbf;
  --hero-cl: #ffffff;
  --logo-cl: #4d5ae5;
}
/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--primary-font);
  font-size: 16px;
  list-style: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-tx-cl);
  background-color: var(--background-cl);
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}

/**
  |============================
  | Header
  |============================
*/
.logo-link {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-cl);
  margin-left: 156px;
  margin-right: 76px;
}

.header-top{
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list{
  display: flex;
  gap: 40px;
  padding: 24px 0
}




.web-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--link-cl);
}

.header-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-cl);
}

.header-link:hover,
.header-link:focus {
  color: var(--activ-cl);
}

.header-address {
  font-style: normal;
  line-height: 1.5;
  color: var(--address-cl);
  margin-left: auto;
}

.header-address-list{
  display: flex;
  gap: 40px;
} 


.header-address > .header-link {
  color: var(--address-cl);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--activ-cl);
}

.header-container {
  display: flex;
  align-items: center;
}

/**
  |============================
  | Hero
  |============================
*/
 .hero-container{
  display: flex;
  align-items: center;
 }


.hero-section {
  background-color: var(--link-cl);
  padding: 188px 0; 
  display: flex;
  align-items: center;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-cl);
  max-width: 496px;

}

.hero-btn {
  background: #4d5ae5;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hero-cl);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.address {
  color: var(--address-cl);
  font-weight: 400;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--hero-cl);
  background-color: var(--activ-cl);
}

/**
  |============================
  | About
  |============================
*/
.about-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--link-cl);
}
.about-desc {
  line-height: 1.5;
}

/**
  |============================
  | Portfolio
  |============================
*/

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--link-cl);
}

/**
  |============================
  | Team
  |============================
*/

.team {
  background: #f4f4fd;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--link-cl);
}

.team-list-item {
  background-color: #ffffff;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--link-cl);
}
.team-desc {
  line-height: 1.5;
}

/**
  |============================
  | Footer
  |============================
*/
.footer {
  color: var(--web-logo-light);
  background-color: var(--link-cl);
}

.footer-logo {
  color: var(--web-logo-light);
}

/**
  |============================
  | Portfolio section
  |============================
*/

.filter-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-cl);
  background-color: var(--web-logo-light);
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--background-cl);
  background-color: var(--activ-cl);
}

.text-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--link-cl);
}

.text {
  line-height: 1.5;
  color: var(--main-tx-cl);
}
